# Assorted types
AddType image/x-icon			ico
AddType text/cache-manifest		appcache manifest

# Block users from browsing folders without a default document
Options -Indexes

<IfModule mod_rewrite.c>
	# Start rewrite engine
	Options +FollowSymlinks
	RewriteEngine On

	# Suppress "www." at the beginning of URLs
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
	RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

	# Block access to "hidden" directories whose names begin with a period
	RewriteRule "(^|/)\." - [F]
	
	# Maintenance mode
	# RewriteCond %{REQUEST_URI} !/maintenance.html$
	# RewriteCond %{REMOTE_ADDR} !^999\.999\.998\.999
	# RewriteRule $ /maintenance.html [R=302,L]
</IfModule>

# Force the latest IE version
<IfModule mod_headers.c>
	Header set X-UA-Compatible "IE=Edge,chrome=1"
	<FilesMatch "\.(js|css|gif|png|jpe?g|pdf|xml|oga|ogg|m4a|ogv|mp4|m4v|webm|svg|svgz|eot|ttf|otf|woff|ico|webp|appcache|manifest)$" >
		Header unset X-UA-Compatible
	</FilesMatch>
</IfModule>
