---
import { author } from '../../package.json'
import '../styles/home.css'
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <title>Política de privacidade</title>
    <meta name="author" content={author} />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#ffc107" />

    <link rel="icon" sizes="192x192" href="apple-touch-icon.png" />
    <link rel="alternate" href="/blog/rss.xml" type="application/rss+xml" title="RSS" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&family=Roboto+Slab:wght@700&display=swap" />
  </head>
  <body class="privacy">
    <div class="content">
      <img src="logo.svg" class="logo" alt="" />

      <header>
        <h1>Carteiro</h1>
        <p>Política de privacidade</p>
      </header>

      <article>
        <p>Rafael Bardini construiu o aplicativo Carteiro como um aplicativo gratuito. Este SERVIÇO é fornecido por mim sem nenhum custo e é destinado para uso como está.</p>
        <p>Esta página é usada para informar os visitantes sobre minhas políticas com a coleta, uso e divulgação de informações pessoais, caso alguém decida usar meu Serviço.</p>
        <p>Se você optar por usar meu Serviço, você concorda com a coleta e uso de informações em relação a esta política. As informações pessoais que coleto são usadas para fornecer e melhorar o Serviço. Não usarei nem compartilharei suas informações com ninguém, exceto conforme descrito nesta política de privacidade.</p>

        <h2>Coleta e uso de informações</h2>
        <p>Para uma melhor experiência, ao usar meu Serviço, posso exigir que você me forneça algumas informações pessoalmente identificáveis. As informações que solicito serão retidas no seu dispositivo e não serão coletadas por mim de nenhuma maneira.</p>
        <p>O aplicativo usa serviços de terceiros que podem coletar informações usadas para identificá-lo:</p>
        <ul>
          <li><a href="https://www.google.com/policies/privacy/">Google Play Services</a></li>
          <li><a href="https://firebase.google.com/support/privacy/">Firebase Services</a></li>
        </ul>

        <h2>Dados de registro</h2>
        <p>Sempre que você usar meu Serviço, no caso de um erro no aplicativo, coleto dados e informações (através de produtos de terceiros) em seu dispositivo chamados “dados de registro”. Esses dados de registro podem incluir informações como o endereço IP do dispositivo, o nome do dispositivo, a versão do sistema operacional, a configuração do aplicativo ao utilizar meu serviço, a hora e a data do seu uso do Serviço, e outras informações.</p>

        <h2>Cookies</h2>
        <p>Cookies são arquivos com uma pequena quantidade de dados que são comumente usados como identificadores exclusivos anônimos. Estes são enviados para o seu navegador a partir dos sites que você visita e são armazenados na memória interna do seu dispositivo.</p>
        <p>Este Serviço não usa esses “cookies” explicitamente. No entanto, o aplicativo pode usar códigos e bibliotecas de terceiros que usam “cookies” para coletar informações e melhorar seus serviços. Você tem a opção de aceitar ou recusar esses cookies e saber quando um cookie está sendo enviado para o seu dispositivo. Se você optar por recusar meus cookies, talvez não consiga usar algumas partes deste Serviço.</p>

        <h2>Provedores de serviço</h2>
        <p>Posso empregar empresas e indivíduos terceiros devido às seguintes razões:</p>
        <ul>
          <li>Para facilitar o meu Serviço;</li>
          <li>Para fornecer o Serviço em meu nome;</li>
          <li>Para executar serviços relacionados ao Serviço; ou</li>
          <li>Para me ajudar a analisar como meu Serviço é usado.</li>
        </ul>
        <p>Esses terceiros têm acesso às suas informações pessoais. O motivo é executar as tarefas atribuídas a eles em meu nome. No entanto, eles são obrigados a não divulgar ou usar as informações para qualquer outra finalidade.</p>

        <h2>Segurança</h2>
        <p>Valorizo sua confiança em me fornecer suas informações pessoais, por isso me esforço para usar meios comercialmente aceitáveis de protegê-los. Mas lembre-se de que nenhum método de transmissão pela internet ou método de armazenamento eletrônico é 100% seguro e confiável, e não posso garantir sua segurança absoluta.</p>

        <h2>Links para outros sites</h2>
        <p>Este Serviço pode conter links para outros sites. Se você clicar em um link de terceiro, você será direcionado para tal site. Observe que esses sites externos não são operados por mim. Por isso, recomendo fortemente que reveja a política de privacidade destes sites. Não tenho controle e não me responsabilizo pelo conteúdo, políticas de privacidade ou práticas de sites ou serviços de terceiros.</p>

        <h2>Privacidade das crianças</h2>
        <p>Este Serviço não se dirige a ninguém com idade inferior a 13 anos. Não recolho intencionalmente informações de identificação pessoal de crianças com menos de 13 anos. Se você é pai, mãe ou responsável legal e sabe que seu filho nos forneceu informações pessoais, entre em contato comigo para que eu possa tomar as providências necessárias.</p>

        <h2>Alterações a esta política de privacidade</h2>
        <p>Posso atualizar minha política de privacidade de tempos em tempos. Assim, aconselho que você revise esta página periodicamente para quaisquer alterações. Notificarei quaisquer alterações publicando a nova política de privacidade nesta página. Essas alterações são efetivadas imediatamente após serem publicadas nesta página.</p>

        <h2>Contato</h2>
        <p>Se você tiver dúvidas ou sugestões sobre minha política de privacidade, não hesite em entrar em contato comigo através do email <a href="mailto:contato@carteiro.app">contato@carteiro.app</a>.</p>
      </article>
    </div>
  </body>
</html>
