<aside role="complementary">
  <p>Nunca mais perca uma entrega ou esqueça de buscar seu pacote. O Carteiro lhe avisa como você quiser, quando você precisar.</p>
</aside>
<footer role="contentinfo">
  <p>
    Feito com <span class="❤">❤️</span> desde 2012<br />
    <a href="https://play.google.com/store/apps/details?id=com.rbardini.carteiro">Carteiro no Google Play</a> · <a href="/blog/arquivo">Arquivo</a> · <a href="/blog/rss.xml">RSS</a>
  </p>
</footer>

<style>
  .❤ {color: var(--heartColor)}
</style>
