/* --------------------------------------
=========================================
COLOR : AMBER BLUE

MAIN COLOR CODE: #2196f3

DEEP COLOR CODE: #1976d2
=========================================
----------------------------------------- */

.solid-color {
    background: rgba(255, 193, 7, 1);
}

.sticky-navigation {
    background: #ffa000;
}

.sticky-navigation .main-navigation li a {
    color: rgba(255, 255, 255, 0.6);
}

.sticky-navigation .main-navigation .current a,
.sticky-navigation .main-navigation li a:hover {
    color: #ffffff;
}

.navbar-inverse .navbar-collapse {
    border-color: transparent;
}

.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    border-color: transparent;
    background: none;
}

.standard-button {
    background: #1976d2;
}

.standard-button2 {
    background: #2196f3;
}

.standard-button2:hover {
    background: #1976d2;
    color: #ffffff;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background: #1976d2;
    border-color: inherit;
}

.colored-line,
.colored-line-left {
    background: #2196f3;
}

.main-color {
    color: #2196f3;
}

.color-bg {
  background: #2196f3;
  color: #FFFFFF;
}

.grey-bg {
    background: #e3f2fd !important;
}

.features .feature:hover .icon-container .icon {
    background: #2196f3;
    color: #ffffff;
    border: 2px solid #ffffff;
    box-shadow: 0px 0px 0px 2px #2196f3;
}

.features .feature .icon-container .icon {
    border: 1px solid #2196f3;
    color: #2196f3;
}

.feature-list li i {
    color: #2196f3;
}

.services .single-service .service-icon,
.services .single-service h3 {
    color: #2196f3;
}

.screenshots .owl-theme .owl-controls .owl-page span {
    background: #2196f3;
}

footer .social-icons li a:hover {
    color: #2196f3;
}
